<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-14" style="padding-top: 25px">
        <div class="card" >
          <div class="card-header" >
            <h1 class="card-title">Welcome, {{user.firstName}}</h1>
            <nav class="toolbar">
              <ul class="toolbar-links">
                <li><a *ngIf="this.user.permissions !== 'basic'" (click)="this.router.navigate(['/employees'])">Employees</a></li>
                <li><a (click)="this.router.navigate(['/profile'])">My Profile</a></li>
                <li><a (click)="logout()">Logout</a></li>
              </ul>
            </nav>
          </div>
          <div class="card-body">
            <div class="announcement-section">
              <div class="col-md-6" *ngIf="!creatingAnn">
                <div class="announcements-window">
                  <div class="announcement-header">
                    <h2 class="header-title">Latest Announcements</h2>
                    <button (click)="creatingAnn = true" class="new-announcement-button" *ngIf="this.user.role === 'CEO'">New Announcement</button>
                  </div>
                  <div class="announcements-list">
                    <div *ngFor="let announcement of announcements" class="announcement-item">
                      <h4>{{ announcement.title }}</h4> 
                      <p>{{ announcement.message }}</p>
                      <small class="announcement-date">{{ announcement.date | date:'short' }}</small>
                      <button class="delete-btn" (click)="deleteAnn(announcement)">X</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="creatingAnn">
                <h2>Issue Announcement</h2>
                <form #announcementForm="ngForm" (ngSubmit)="submitAnn(announcementForm)">
                  <div class="form-group">
                    <label for="announcementTitle">Title:</label>
                    <input type="text" id="title" [(ngModel)]="annTitle" name="title" required>
                  </div>
                  <div class="form-group">
                    <label for="announcementBody">Message:</label>
                    <textarea id="message" [(ngModel)]="annBody" name="message" rows="5" required></textarea>
                  </div>
                  <button type="submit" class="btn btn-success">Send Announcement</button>
                  <button (click)="creatingAnn = false" class="btn btn-danger">Cancel</button>
                </form>
              </div>
            </div>
            <app-generic-table 
              [data]="announcements" 
              [columns]="annColumns"
            ></app-generic-table>
        </div>
      </div>
    </div>
  </div>
