<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" style="padding-top: 25px">
        <div class="card" >
          <div class="card-header" >
            <h1 class="card-title">Employees</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6" *ngIf="!creatingUser">
                <div class="actions" *ngIf="(users$ | async) as users$">
                  <ul>
                    <li *ngFor="let user of users$">
                        {{user.firstName}} {{user.lastName}}
                    </li>
                  </ul>
                  <button (click)="addUser()" class="btn btn-primary">Add New</button>
                  <button (click)="toDash()" class="btn btn-danger">Back</button>
                </div>
              </div>
              <div class="col-md-6" *ngIf="creatingUser">
                <form #userForm="ngForm" (ngSubmit)="saveUser(userForm)">
                  <div class="form-group">
                    <label>First Name: *</label>
                    <input id="firstName" name="firstName" type="text" placeholder="Johnny" [(ngModel)]="newUser.firstName" required>
                  </div>
                  <div class="form-group">
                    <label>Last Name: *</label>
                    <input id="lastName" name="lastName" type="text" placeholder="Appleseed" [(ngModel)]="newUser.lastName" required>
                  </div>
                  <div class="form-group">
                    <label>Email: *</label>
                    <input id="email" name="email" type="email" placeholder="JohnnyA@me.com" [(ngModel)]="newUser.email" required>
                  </div>
                  <div class="form-group">
                    <label>Password: *</label>
                    <input id="password" name="password" type="text" placeholder="password123" [(ngModel)]="newUser.password" required>
                  </div>
                  <div class="form-group">
                    <label>Role: *</label>
                    <input id="role" name="role"type="text" placeholder="CEO" [(ngModel)]="newUser.role" required>
                  </div>
                  <div class="form-group">
                    <label>Permissions: *</label>
                    <select id="permissions" name="permissions" [(ngModel)]="newUser.permissions"required>
                      <option>Select an option</option>
                      <option value="Admin">Admin</option>
                      <option value="Associate">Associate</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Date of Birth: *</label>
                    <input id="DOB" name="DOB" type="text" placeholder="01/01/1999" [(ngModel)]="newUser.DOB" required>
                  </div>
                  <div class="form-group">
                    <label>Address: </label>
                    <input id="address" name="address" type="text" placeholder="123 Road Dr." [(ngModel)]="newUser.address">
                  </div>
                  <div class="form-group">
                    <label>City: </label>
                    <input id="city" name="city" type="text" placeholder="Houston" [(ngModel)]="newUser.city">
                  </div>
                  <div class="form-group">
                    <label>Phone: </label>
                    <input id="phone" name="phone" type="number" placeholder= 8323125753 [(ngModel)]="newUser.phone">
                  </div>
                  <button class="btn btn-primary" type="submit">Confirm New Employee</button>
                  <button (click)="cancelNewUser()" class="btn btn-danger">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
