.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
  
.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button[type="submit"] {
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

button{
  margin-right: 10px;
}

/* Toolbar Styles */
.toolbar {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end; /* Aligns the links to the right */
}

.toolbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.toolbar-links li {
  display: inline;
  justify-content: flex-end; /* Aligns the links to the right */
}

.toolbar-links a {
  justify-content: flex-end; /* Aligns the links to the right */
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 4px;
}

.toolbar-links a:hover {
  cursor: pointer;
  color: #007bff;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Pushes the header title and toolbar to opposite ends */
  padding: 10px 20px;
}