<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title">Profile</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="actions">
                  <h2>Actions</h2>
                  <button (click)="toDashboard()">Dashboard</button>
                  <button class="btn btn-primary" (click)="editProfile()">Edit Profile</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>