<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" style="padding-top: 25px;">
        <div class="card">
          <div class="card-header">
            <h1 class="card-title">My Profile</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div *ngIf="isEditing" class="editing">
                    <ul>
                      <li class="profileData">First Name:<input placeholder={{this.user.firstName}} type="text" class="form-control"></li> 
                      <li class="profileData">Last Name:<input placeholder={{this.user.lastName}} type="text" class="form-control"></li>
                      <li class="profileData">Email:<input placeholder={{this.user.email}} type="text" class="form-control"></li>
                      <li class="profileData">Password:<input placeholder={{this.user.password}} type="text" class="form-control"></li>
                      <li class="profileData">Phone:<input placeholder={{this.user.phone}} type="number" class="form-control"></li>
                      <li class="profileData">Address:<input placeholder={{this.user.address}} type="text" class="form-control"></li>
                      <li class="profileData">City:<input placeholder={{this.user.city}} type="text" class="form-control"></li>
                      <li class="profileData">Date of Birth:<input placeholder={{this.user.DOB}} type="text" class="form-control"></li>
                    </ul>
                    <button class="btn btn-success">Submit</button>
                    <button (click)="exitEdit()" class="btn btn-danger">Exit</button>
                </div>
                <div *ngIf="!isEditing" class="actions">
                  <div class="viewing">
                    <ul>
                      <li class="profileData">First Name: {{this.user.firstName}} </li>
                      <li class="profileData">Last Name: {{this.user.lastName}}</li>
                      <li class="profileData">Email: {{this.user.email}}</li>
                      <li class="profileData">Password: {{this.user.password}}</li>
                      <li class="profileData">Phone: {{this.user.phone}}</li>
                      <li class="profileData">Address: {{this.user.address}}</li>
                      <li class="profileData">City: {{this.user.city}}</li>
                      <li class="profileData">Date of Birth: {{this.user.DOB}}</li>
                    </ul>
                  </div>
                  <button class="btn btn-primary" (click)="editProfile()">Edit Profile</button>
                  <button class="btn btn-danger" (click)="toDashboard()">Exit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>