<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8" style="padding-top: 25px">
        <div class="card" >
          <div class="card-header" >
            <h1 class="card-title">Welcome, {{this.user.firstName}}</h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="actions">
                  <h2>Actions</h2>
                  <button *ngIf="this.user.permissions == 'admin'" (click)="toEmployees()" class="btn btn-primary">Employees</button>
                  <button (click)="toProfile()" class="btn btn-primary" >View Profile</button>
                  <button (click)="logout()" class="btn btn-danger" >Logout</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  